<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<style>
    body{
      background-image: url("—Pngtree—creative airplane airport background_100009333.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>-->
 <!-- <link rel="stylesheet" href="../style/style.css">-->


</head>
<body>

  <form action="/plane/add" method="post">
    <input type="date" name="date_flight" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>
    <input type="time"  name="time_flight" step=1><br>
    <input type="text"  name="town"><br>
    <input type="text" name="airport1"><br>
    <input type="number"  name="distance"><br>
    <input type="text" name="airport2"><br>
    <input type="date" name="date2" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br>
    <input type="time" name="time2" step=1><br>
    <input type="number"  name="count_transfer"><br>
    <input type="text" name="type_ticket"><br>
    <input type="text" name="price_ticket"><br>
    <input type="text" name="company"><br>
    <input type="number" name="max_weight"><br>
    <button type="submit">Add</button>
  </form>

</body>
</html>