<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<style>
    body{
      background-image: url("—Pngtree—creative airplane airport background_100009333.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>-->
 <!-- <link rel="stylesheet" href="../style/style.css">-->


</head>
<body>

  <form action="/plane/add" method="post">
    <input type="text"  name="date_flight" placeholder="enter date1"><br>
    <input type="text"  name="time_flight"><br>
    <input type="text"  name="town"><br>
    <input type="text" name="airport1"><br>
    <input type="number"  name="distance"><br>
    <input type="text" name="airport2"><br>
    <input type="text" name="date2"><br>
    <input type="text" name="time2"><br>
    <input type="number"  name="count_transfer"><br>
    <input type="text" name="type_ticket"><br>
    <input type="text" name="price_ticket"><br>
    <input type="text" name="company"><br>
    <input type="number" name="max_weight"><br>
    <button type="submit">Add</button>
  </form>

</body>
</html>