<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Position Report</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--<link rel="stylesheet" href="/style/style.css">-->
  <style>
    body{
      background-image: url("https://data.terabox.com/thumbnail/388a93206118d514f7ed47361be21fab?fid=4401312576584-250528-863061987675297&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-SXM5nSbHJQVkd13bSU7Vo98wUcs%3d&expires=8h&chkbd=0&chkv=0&dp-logid=9089989049771077833&dp-callid=0&time=1680595200&size=c1536_u864&quality=90&vuk=4401312576584&ft=image&autopolicy=1");

      background-repeat: no-repeat;
      background-size: cover;
      font-family: "Sitka Display";
    }

  </style>
  <!--<link rel="stylesheet" href="../style/style.css">-->


</head>
<body>
<div ><!--th:each="ac : ${list}"-->
  <h2>Current Aircraft Positions</h2>

   <!-- <p th:text="${ac.id_flight}"></p>-->
    <p th:text="${plane.date_flight}"></p>
    <p th:text="${plane.time_flight}"></p>
     <p th:text="${plane.town}"></p>
    <p th:text="${plane.airport1}"></p>
     <p th:text="${plane.distance}"></p>
    <p th:text="${plane.airport2}"></p>
    <p th:text="${plane.date2}"></p>
    <p th:text="${plane.time2}"></p>
    <p th:text="${plane.count_transfer}"></p>
    <p th:text="${plane.type_ticket}"></p>
    <p th:text="${plane.price_ticket}"></p>
    <p th:text="${plane.company}"></p>
    <p th:text="${plane.max_weight}"></p>
    <a th:href="'/plane/'+${plane.id_flight}+'/update'">Edit information</a>
</div>

</body>
</html>
